<div class="dynamic-output">
    <div class="dynamic-grid">
      <mat-grid-list cols="5">
        <mat-grid-tile> Tiempo: {{data.time | number : '1.0-2'}}</mat-grid-tile>
        <mat-grid-tile> Posición: {{data.position | number : '1.0-2'}}</mat-grid-tile>
        <mat-grid-tile> Velocidad: {{data.velocity | number : '1.0-2'}}</mat-grid-tile>
        <mat-grid-tile> Aceleración: {{data.acceleration | number : '1.0-2'}}</mat-grid-tile>
        <mat-grid-tile> Fuerza Total: {{ data.force | number : '1.0-2'}}</mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="tableData">
      
          <!-- Position Column -->
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Tiempo. </th>
            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
          </ng-container>
      
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Posicion </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
      
          <ng-container matColumnDef="velocity">
            <th mat-header-cell *matHeaderCellDef> Velocidad </th>
            <td mat-cell *matCellDef="let element"> {{element.velocity}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
</div>