.dynamic-output mat-card {
  margin-top: 2em;
  width: 500px;
}

.dynamic-grid {
 width: 500px;
 background-color: #424242;
}

.example-container {
  height: 300px;
  overflow: auto;
}

table {
  width: 100%;
}