<mat-toolbar>
  <span class="app-title"><a routerLink="/" >FisquiWeb</a></span>
  <nav class="nav-bar">
    <div *ngFor="let lab of labs">
      <li *ngIf="lab.isVisible">      
        <mat-divider [vertical]="true"></mat-divider>
        <a mat-button routerLink="/{{lab.path}}" routerLinkActive="active"> {{lab.label}} </a>
        <mat-divider [vertical]="true"></mat-divider>
      </li>
    </div>
    <li><a *ngIf="isLogged()" (click)="logout()" color="accent" mat-button> Cerrar Sesión </a></li>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>