* {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-card{
  width: inherit;
  margin-top: 5em;
}

.animation-card mat-card{
  min-width: 960px;
  min-height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.dynamicAnimation {
  text-align: center;
  border:4px solid black;
  border-radius: 0.5em;
  width: 720px;
  height: 240px;
}


.dynamic-ui {
  margin-top: 2em;
}