.energyAnimation {
  text-align: center;
  text-align: center;
  border:4px solid black;
  border-radius: 0.5em;
  width: 720px;
  height: 480px;
}

.energy-ui {
  width: 100%;
  display: inline-block;
}

.energy-ui energy-input {
  width: 30%;
}

.energy-ui energy-output {
  width: 30%;
}