<mat-card>
  <mat-grid-list class="energy-grid" cols="3" rowHeight="50px">  
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      Potencial: {{energyData.getPotentialEnergy() | number : '1.0-2'}}
    </mat-grid-tile>
  
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      Cinetica:  {{energyData.getKinematicEnergy() | number : '1.0-2'}}
    </mat-grid-tile>
  
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      Calor: {{energyData.getHeat() | number : '1.0-2'}}
    </mat-grid-tile>
  
    <mat-grid-tile
      [colspan]="3"
      [rowspan]="1">
      Total:  {{energyData.totalEnergy | number : '1.0-2'}}
    </mat-grid-tile>
  
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      Posicion: {{energyData.position | number : '1.0-2'}}
    </mat-grid-tile>
  
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      AltMaxima:  {{energyData.maxPosition | number : '1.0-2'}}
    </mat-grid-tile>
  
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      Velocidad:  {{energyData.getVelocity() | number : '1.0-2'}}
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>