* {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frictionAnimation {
  text-align: center;
  border:4px solid black;
  border-radius: 0.5em;
  width: 840px;
  height: 240px;
}

.animation-card{
  margin-top: 5em;
}

.animation-card mat-card{
  min-width: 960px;
  min-height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

