mat-list-item {
  margin-top: 0.4em;
}

.theme-picker-card {
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 30%;
  max-width: 300px;
}

button {
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}