<mat-card class="theme-picker-card">
  <mat-card-title> Selector de Tema: </mat-card-title>
  <mat-card-content>
    <theme-picker></theme-picker>
  </mat-card-content>
</mat-card>

<mat-list>
  <mat-list-item *ngFor="let lab of labs"> 
    <input (change)="onChange($event, lab.path)" matInput type="text" value="{{lab.label}}"/>
    <button mat-raised-button color="primary" (click)="toggleVisibility(lab.path)"> Visibilidad </button>
  </mat-list-item>
</mat-list>
<button mat-raised-button color="primary" (click)="save()"> Guardar </button>
<button mat-raised-button color="primary" (click)="logout()"> Cerrar Sesión </button>
